* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    display: grid;
    justify-items: center;
    height: 80px;
}

h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 105px;
text-align: center;

color: #1C2323;
}

.text>img {
   margin-top: 5px;
  color:  2px solid #58A9A5;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box {
    width: 350px;
    height: 700px;
    gap: 20px;
}

h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 50px;
color: #58A9A5;
}
.box>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: #486958; 
    margin-top: 20px;
    margin-bottom: 20px;
}